body, html {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 3vh 0 3vh 0;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-6 {width: 50%;}

[class*="textPhone"] {
  text-align: right;
  font-size: 22px;
  font-weight: 600;
}

[class*="textTablet"] {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}

.textPhone_revenue {
  color: rgb(75, 96, 51);
}

.textTablet_revenue {
  color: rgb(165, 199, 113);
}

.textTablet_impresions {
  color: rgb(109, 162, 196)
}

.textPhone_impresions {
  color: rgb(23, 60, 86);
}

.textTablet_visit{
  color: rgb(187, 90, 30);
}

.textPhone_visit{
  color: rgb(242, 197, 44)
}

.textPercentage {

  font-size: 18px;
  color: #696969;
  font-weight: 600;
  margin-left: 20px;
  float: left;
}

.textAmount {
  float: left;
  margin-left: 15px;
  color: #bbc;
  font-size: 18px;
  font-weight: 600;
}
.textPercentageRight{
  display: inline-block;
  margin-left: 130px;
  font-size: 18px;
  color: #696969;
  font-weight: 600;
}

.textAmountRight {
  color: #bbc;
  font-size: 18px;
  font-weight: 600;
  float: right;
}

#main_impresions, #main_visit, #main_revenue {
  display: none;
}

.text-revenue, .text-visit, .text-impresions{
  border-bottom: 2px solid #dedede;
  margin-bottom: 10px;
}

/**  Carousel **/ 

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/** svg css //svg { border: 1px solid #dedede; } **/ 

svg {
  width: 450;
  height: 450;
}

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
.area { fill: #4ca3bd; }

/* text inside charts */ 
.insideText{
  font-size: 40px;
  font-weight: 700;
  fill: #bbc;
  letter-spacing: 0.1em;
}

.insideNum {
  fill: #696969;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* END text inside charts */ 
@media screen and (max-width: 425px) {
  
  [class*="textTablet"] {
    text-align: unset;
  }

  .textPercentage {
    margin-left: 70px;
  }

  .textPercentageRight {
    margin-left: 80px;
  }
  .textAmountRight {
    margin-right: 10px;
  }
}
